@font-face {
    font-family: 'bangersregular';
    src: url('/assets/bangers-webfont.woff2') format('woff2'),
         url('/assets/bangers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('/assets/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('/assets/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'marck_scriptregular';
    src: url('/assets/marckscript-regular-webfont.woff2') format('woff2'),
         url('/assets/marckscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'meriendabold';
    src: url('/assets/merienda-bold-webfont.woff2') format('woff2'),
         url('/assets/merienda-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'meriendaregular';
    src: url('/assets/merienda-regular-webfont.woff2') format('woff2'),
         url('/assets/merienda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tangerinebold';
    src: url('/assets/tangerine_bold-webfont.woff2') format('woff2'),
         url('/assets/tangerine_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tangerineregular';
    src: url('/assets/tangerine_regular-webfont.woff2') format('woff2'),
         url('/assets/tangerine_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}